@model ShopViewModel

<div class="ps-breadcrumb">
    <div class="ps-container">
        <ul class="breadcrumb">
            <li><a asp-controller="home">Əsas</a></li>
            <li>Satış</li>
        </ul>
    </div>
</div>
<div class="ps-page--shop">
    <div class="ps-container">
        <br />
        <br />
        <div class="ps-layout--shop">

            @Html.Partial("_FilterPartial", Model.Categories)

            <div class="ps-layout__right">
                <div id="main-products" class="ps-shopping ps-tab-root">
                    <div class="ps-shopping__header">
                        <p><strong id="products-count">@Model.Products.Count</strong> Məhsul tapıldı</p>
                        <div class="ps-shopping__actions">
                            <select onchange="LoadProducts()" class="ps-select" data-placeholder="Məhsulları sırala" name="orderBy">
                                <option value="bydate" selected>Yenidən köhnəyə</option>
                                <option value="byselling">Ən çox satılan birinci</option>
                                <option value="byrating">Reytinqdə görə</option>
                                <option value="lowest">Uzucdan Bahaya</option>
                                <option value="highest">Bahadan Ucuza</option>
                            </select>
                            <div class="ps-shopping__view">
                                <p>Görünüş</p>
                                <ul class="ps-tab-list">
                                    <li class="active"><a href="#tab-1"><i class="icon-grid"></i></a></li>
                                    <li><a href="#tab-2"><i class="icon-list4"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ps-tabs">
                        <div class="ps-tab active" id="tab-1">
                            <div class="ps-shopping-product">
                                <div id="product-list-row" class="row">
                                    @foreach (var item in Model.Products)
                                    {
                                        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6 ">
                                            <div class="ps-product">
                                                <div class="ps-product__thumbnail">
                                                    <a asp-action="details" asp-controller="product" asp-route-id="@item.Id"><img src="@item.ImageUrl" alt="" /></a>
                                                    <ul class="ps-product__actions">
                                                        <li><a asp-action="addbasket" asp-controller="basket" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Səbətə at"><i class="icon-bag2"></i></a></li>
                                                        <li><a href="javascript:void(0)" class="quickview" data-id="@item.Id" data-placement="top" title="Sürətli bax" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                                                        <li><a asp-action="addwishlist" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="@(item.IsInWishlist ? "Sevimlilərdən çıxart" : "Sevimlilərə artır")"><i class="@(item.IsInWishlist ? "fas fa-heart" : "icon-heart")"></i></a></li>
                                                        @* <li><a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="icon-chart-bars"></i></a></li> *@
                                                    </ul>
                                                </div>
                                                <div class="ps-product__container">
                                                    <a class="ps-product__vendor" href="#">@item.CategoryName</a>
                                                    <div class="ps-product__content">
                                                        <a class="ps-product__title" href="product-default.html">@item.Name</a>
                                                        <p class="ps-product__price">₼@item.Price</p>
                                                    </div>
                                                    <div class="ps-product__content hover">
                                                        <a class="ps-product__title" href="product-default.html">@item.Name</a>
                                                        <p class="ps-product__price">$@item.Price</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="ps-pagination">
                                <ul class="pagination">
                                    <li class="active"><a href="javascript:void(0)">1</a></li>
                                    <li><a href="javascript:void(0)">2</a></li>
                                    <li><a href="javascript:void(0)">3</a></li>
                                    <li><a href="javascript:void(0)">Next Page<i class="icon-chevron-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ps-tab" id="tab-2">
                            <div id="product-list-column" class="ps-shopping-product">
                                @foreach (var item in Model.Products)
                                {
                                    <div class="ps-product ps-product--wide">
                                        <div class="ps-product__thumbnail">
                                            <a href="product-default.html"><img src="@item.ImageUrl" alt="" /></a>
                                        </div>
                                        <div class="ps-product__container">
                                            <div class="ps-product__content">
                                                <a class="ps-product__title" href="product-default.html">@item.Name</a>
                                                <p class="ps-product__vendor">Sold by:<a href="#">ROBERT’S STORE</a></p>
                                                <ul class="ps-product__desc">
                                                    <li> Unrestrained and portable active stereo speaker</li>
                                                    <li> Free from the confines of wires and chords</li>
                                                    <li> 20 hours of portable capabilities</li>
                                                    <li> Double-ended Coil Cord with 3.5mm Stereo Plugs Included</li>
                                                    <li> 3/4″ Dome Tweeters: 2X and 4″ Woofer: 1X</li>
                                                </ul>
                                            </div>
                                            <div class="ps-product__shopping">
                                                <p class="ps-product__price">₼@item.Price</p><a class="ps-btn" asp-action="addbasket" asp-controller="basket" asp-route-id="@item.Id">Səbətə at</a>
                                                <ul class="ps-product__actions">
                                                    <li><a asp-action="addwishlist" asp-route-id="@item.Id"><i class="@(item.IsInWishlist ? "fas fa-heart" : "icon-heart")"></i>@(item.IsInWishlist ? "Sevimlilərdən çıxart" : "Sevimlilərə artır")</a></li>
                                                    @* <li><a href="#"><i class="icon-chart-bars"></i> Compare</a></li> *@
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            <div class="ps-pagination">
                                <ul class="pagination">
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">Növbəti<i class="icon-chevron-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ps-block--shop-features">
                    <div class="ps-block__header">
                        <h3>Ən çox satılanlar</h3>
                        <div class="ps-block__navigation"><a class="ps-carousel__prev" href="#recommended1"><i class="icon-chevron-left"></i></a><a class="ps-carousel__next" href="#recommended1"><i class="icon-chevron-right"></i></a></div>
                    </div>
                    <div class="ps-block__content">
                        <div class="owl-slider" id="recommended1" data-owl-auto="true" data-owl-loop="true" data-owl-speed="10000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="6" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-item-xl="5" data-owl-duration="1000" data-owl-mousedrag="on">
                            <div class="ps-product">
                                <div class="ps-product__thumbnail">
                                    <a href="product-default.html"><img src="~/Sandal/img/products/shop/best/1.jpg" alt="" /></a>
                                    <ul class="ps-product__actions">
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag2"></i></a></li>
                                        <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add to Whishlist"><i class="icon-heart"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="icon-chart-bars"></i></a></li>
                                    </ul>
                                </div>
                                <div class="ps-product__container">
                                    <a class="ps-product__vendor" href="#">Young Shop</a>
                                    <div class="ps-product__content">
                                        <a class="ps-product__title" href="product-default.html">Sleeve Linen Blend Caro Pane Shirt</a>
                                        <div class="ps-product__rating">
                                            <select class="ps-rating" data-read-only="true">
                                                <option value="1">1</option>
                                                <option value="1">2</option>
                                                <option value="1">3</option>
                                                <option value="1">4</option>
                                                <option value="2">5</option>
                                            </select><span>01</span>
                                        </div>
                                        <p class="ps-product__price">$22.99 - $32.99</p>
                                    </div>
                                    <div class="ps-product__content hover">
                                        <a class="ps-product__title" href="product-default.html">Sleeve Linen Blend Caro Pane Shirt</a>
                                        <p class="ps-product__price">$22.99 - $32.99</p>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-product">
                                <div class="ps-product__thumbnail">
                                    <a href="product-default.html"><img src="~/Sandal/img/products/shop/best/2.jpg" alt="" /></a>
                                    <div class="ps-product__badge">-7%</div>
                                    <ul class="ps-product__actions">
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag2"></i></a></li>
                                        <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add to Whishlist"><i class="icon-heart"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="icon-chart-bars"></i></a></li>
                                    </ul>
                                </div>
                                <div class="ps-product__container">
                                    <a class="ps-product__vendor" href="#">Young Shop</a>
                                    <div class="ps-product__content">
                                        <a class="ps-product__title" href="product-default.html">MVMTH Classical Leather Watch In Black</a>
                                        <div class="ps-product__rating">
                                            <select class="ps-rating" data-read-only="true">
                                                <option value="1">1</option>
                                                <option value="1">2</option>
                                                <option value="1">3</option>
                                                <option value="1">4</option>
                                                <option value="2">5</option>
                                            </select><span>01</span>
                                        </div>
                                        <p class="ps-product__price sale">$57.99 <del>$62.99 </del></p>
                                    </div>
                                    <div class="ps-product__content hover">
                                        <a class="ps-product__title" href="product-default.html">MVMTH Classical Leather Watch In Black</a>
                                        <p class="ps-product__price sale">$57.99 <del>$62.99 </del></p>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-product">
                                <div class="ps-product__thumbnail">
                                    <a href="product-default.html"><img src="~/Sandal/img/products/shop/best/3.jpg" alt="" /></a>
                                    <div class="ps-product__badge">-16%</div>
                                    <ul class="ps-product__actions">
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag2"></i></a></li>
                                        <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add to Whishlist"><i class="icon-heart"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="icon-chart-bars"></i></a></li>
                                    </ul>
                                </div>
                                <div class="ps-product__container">
                                    <a class="ps-product__vendor" href="#">Young Shop</a>
                                    <div class="ps-product__content">
                                        <a class="ps-product__title" href="product-default.html">Unero Military Classical Backpack</a>
                                        <div class="ps-product__rating">
                                            <select class="ps-rating" data-read-only="true">
                                                <option value="1">1</option>
                                                <option value="1">2</option>
                                                <option value="1">3</option>
                                                <option value="1">4</option>
                                                <option value="2">5</option>
                                            </select><span>02</span>
                                        </div>
                                        <p class="ps-product__price sale">$35.00 <del>$60.00 </del></p>
                                    </div>
                                    <div class="ps-product__content hover">
                                        <a class="ps-product__title" href="product-default.html">Unero Military Classical Backpack</a>
                                        <p class="ps-product__price sale">$35.00 <del>$60.00 </del></p>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-product">
                                <div class="ps-product__thumbnail">
                                    <a href="product-default.html"><img src="~/Sandal/img/products/shop/best/4.jpg" alt="" /></a>
                                    <div class="ps-product__badge">-5%</div>
                                    <ul class="ps-product__actions">
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag2"></i></a></li>
                                        <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add to Whishlist"><i class="icon-heart"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="icon-chart-bars"></i></a></li>
                                    </ul>
                                </div>
                                <div class="ps-product__container">
                                    <a class="ps-product__vendor" href="#">Go Pro</a>
                                    <div class="ps-product__content">
                                        <a class="ps-product__title" href="product-default.html">Sound Intone I65 Earphone White Version</a>
                                        <div class="ps-product__rating">
                                            <select class="ps-rating" data-read-only="true">
                                                <option value="1">1</option>
                                                <option value="1">2</option>
                                                <option value="1">3</option>
                                                <option value="1">4</option>
                                                <option value="2">5</option>
                                            </select><span>23</span>
                                        </div>
                                        <p class="ps-product__price sale">$100.00 <del>$105.00 </del></p>
                                    </div>
                                    <div class="ps-product__content hover">
                                        <a class="ps-product__title" href="product-default.html">Sound Intone I65 Earphone White Version</a>
                                        <p class="ps-product__price sale">$100.00 <del>$105.00 </del></p>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-product">
                                <div class="ps-product__thumbnail">
                                    <a href="product-default.html"><img src="~/Sandal/img/products/shop/best/5.jpg" alt="" /></a>
                                    <ul class="ps-product__actions">
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag2"></i></a></li>
                                        <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add to Whishlist"><i class="icon-heart"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="icon-chart-bars"></i></a></li>
                                    </ul>
                                </div>
                                <div class="ps-product__container">
                                    <a class="ps-product__vendor" href="#">Global Office</a>
                                    <div class="ps-product__content">
                                        <a class="ps-product__title" href="product-default.html">Herschel Leather Duffle Bag In Brown Color</a>
                                        <div class="ps-product__rating">
                                            <select class="ps-rating" data-read-only="true">
                                                <option value="1">1</option>
                                                <option value="1">2</option>
                                                <option value="1">3</option>
                                                <option value="1">4</option>
                                                <option value="2">5</option>
                                            </select><span>01</span>
                                        </div>
                                        <p class="ps-product__price">$125.30</p>
                                    </div>
                                    <div class="ps-product__content hover">
                                        <a class="ps-product__title" href="product-default.html">Herschel Leather Duffle Bag In Brown Color</a>
                                        <p class="ps-product__price">$125.30</p>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-product">
                                <div class="ps-product__thumbnail">
                                    <a href="product-default.html"><img src="~/Sandal/img/products/shop/best/6.jpg" alt="" /></a>
                                    <div class="ps-product__badge hot">Hot</div>
                                    <ul class="ps-product__actions">
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag2"></i></a></li>
                                        <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add to Whishlist"><i class="icon-heart"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="icon-chart-bars"></i></a></li>
                                    </ul>
                                </div>
                                <div class="ps-product__container">
                                    <a class="ps-product__vendor" href="#">Global Office</a>
                                    <div class="ps-product__content">
                                        <a class="ps-product__title" href="product-default.html">Xbox One Wireless Controller Black Color</a>
                                        <div class="ps-product__rating">
                                            <select class="ps-rating" data-read-only="true">
                                                <option value="1">1</option>
                                                <option value="1">2</option>
                                                <option value="1">3</option>
                                                <option value="1">4</option>
                                                <option value="2">5</option>
                                            </select><span>01</span>
                                        </div>
                                        <p class="ps-product__price sale">$1025.00 <del>$1422.00 </del></p>
                                    </div>
                                    <div class="ps-product__content hover">
                                        <a class="ps-product__title" href="product-default.html">Xbox One Wireless Controller Black Color</a>
                                        <p class="ps-product__price sale">$1025.00 <del>$1422.00 </del></p>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-product">
                                <div class="ps-product__thumbnail">
                                    <a href="product-default.html"><img src="~/Sandal/img/products/shop/best/7.jpg" alt="" /></a>
                                    <ul class="ps-product__actions">
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag2"></i></a></li>
                                        <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add to Whishlist"><i class="icon-heart"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="icon-chart-bars"></i></a></li>
                                    </ul>
                                </div>
                                <div class="ps-product__container">
                                    <a class="ps-product__vendor" href="#">Robert's Store</a>
                                    <div class="ps-product__content">
                                        <a class="ps-product__title" href="product-default.html">Samsung UHD TV 24inch</a>
                                        <div class="ps-product__rating">
                                            <select class="ps-rating" data-read-only="true">
                                                <option value="1">1</option>
                                                <option value="1">2</option>
                                                <option value="1">3</option>
                                                <option value="1">4</option>
                                                <option value="2">5</option>
                                            </select><span>01</span>
                                        </div>
                                        <p class="ps-product__price">$599.00</p>
                                    </div>
                                    <div class="ps-product__content hover">
                                        <a class="ps-product__title" href="product-default.html">Samsung UHD TV 24inch</a>
                                        <p class="ps-product__price">$599.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ps-block--shop-features">
                    <div class="ps-block__header">
                        <h3>Sizin üçün seçilmişlər</h3>
                        <div class="ps-block__navigation"><a class="ps-carousel__prev" href="#recommended"><i class="icon-chevron-left"></i></a><a class="ps-carousel__next" href="#recommended"><i class="icon-chevron-right"></i></a></div>
                    </div>
                    <div class="ps-block__content">
                        <div class="owl-slider" id="recommended" data-owl-auto="true" data-owl-loop="true" data-owl-speed="10000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="6" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-item-xl="5" data-owl-duration="1000" data-owl-mousedrag="on">
                            <div class="ps-product">
                                <div class="ps-product__thumbnail">
                                    <a href="product-default.html"><img src="~/Sandal/img/products/shop/recommended/1.jpg" alt="" /></a>
                                    <div class="ps-product__badge">-37%</div>
                                    <ul class="ps-product__actions">
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag2"></i></a></li>
                                        <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add to Whishlist"><i class="icon-heart"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="icon-chart-bars"></i></a></li>
                                    </ul>
                                </div>
                                <div class="ps-product__container">
                                    <a class="ps-product__vendor" href="#">Young Shop</a>
                                    <div class="ps-product__content">
                                        <a class="ps-product__title" href="product-default.html">Ciate Palemore Lipstick Bold Red Color</a>
                                        <div class="ps-product__rating">
                                            <select class="ps-rating" data-read-only="true">
                                                <option value="1">1</option>
                                                <option value="1">2</option>
                                                <option value="1">3</option>
                                                <option value="1">4</option>
                                                <option value="2">5</option>
                                            </select><span>01</span>
                                        </div>
                                        <p class="ps-product__price sale">$42.99 <del>$60.00 </del></p>
                                    </div>
                                    <div class="ps-product__content hover">
                                        <a class="ps-product__title" href="product-default.html">Ciate Palemore Lipstick Bold Red Color</a>
                                        <p class="ps-product__price sale">$42.99 <del>$60.00 </del></p>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-product">
                                <div class="ps-product__thumbnail">
                                    <a href="product-default.html"><img src="~/Sandal/img/products/shop/recommended/2.jpg" alt="" /></a>
                                    <div class="ps-product__badge">-37%</div>
                                    <ul class="ps-product__actions">
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag2"></i></a></li>
                                        <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add to Whishlist"><i class="icon-heart"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="icon-chart-bars"></i></a></li>
                                    </ul>
                                </div>
                                <div class="ps-product__container">
                                    <a class="ps-product__vendor" href="#">Robert's Store</a>
                                    <div class="ps-product__content">
                                        <a class="ps-product__title" href="product-default.html">Set 30 Piece Korea StartSkin Natural Mask</a>
                                        <div class="ps-product__rating">
                                            <select class="ps-rating" data-read-only="true">
                                                <option value="1">1</option>
                                                <option value="1">2</option>
                                                <option value="1">3</option>
                                                <option value="1">4</option>
                                                <option value="2">5</option>
                                            </select><span>01</span>
                                        </div>
                                        <p class="ps-product__price sale">$32.99 <del>$60.00 </del></p>
                                    </div>
                                    <div class="ps-product__content hover">
                                        <a class="ps-product__title" href="product-default.html">Set 30 Piece Korea StartSkin Natural Mask</a>
                                        <p class="ps-product__price sale">$32.99 <del>$60.00 </del></p>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-product">
                                <div class="ps-product__thumbnail">
                                    <a href="product-default.html"><img src="~/Sandal/img/products/shop/recommended/3.jpg" alt="" /></a>
                                    <div class="ps-product__badge">-25%</div>
                                    <ul class="ps-product__actions">
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag2"></i></a></li>
                                        <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add to Whishlist"><i class="icon-heart"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="icon-chart-bars"></i></a></li>
                                    </ul>
                                </div>
                                <div class="ps-product__container">
                                    <a class="ps-product__vendor" href="#">Go Pro</a>
                                    <div class="ps-product__content">
                                        <a class="ps-product__title" href="product-default.html">Baxter Care Hair Kit For Bearded Mens</a>
                                        <div class="ps-product__rating">
                                            <select class="ps-rating" data-read-only="true">
                                                <option value="1">1</option>
                                                <option value="1">2</option>
                                                <option value="1">3</option>
                                                <option value="1">4</option>
                                                <option value="2">5</option>
                                            </select><span>02</span>
                                        </div>
                                        <p class="ps-product__price sale">$93.00 <del>$60.00 </del></p>
                                    </div>
                                    <div class="ps-product__content hover">
                                        <a class="ps-product__title" href="product-default.html">Baxter Care Hair Kit For Bearded Mens</a>
                                        <p class="ps-product__price sale">$93.00 <del>$60.00 </del></p>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-product">
                                <div class="ps-product__thumbnail">
                                    <a href="product-default.html"><img src="~/Sandal/img/products/shop/recommended/4.jpg" alt="" /></a>
                                    <div class="ps-product__badge">-46%</div>
                                    <ul class="ps-product__actions">
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag2"></i></a></li>
                                        <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add to Whishlist"><i class="icon-heart"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="icon-chart-bars"></i></a></li>
                                    </ul>
                                </div>
                                <div class="ps-product__container">
                                    <a class="ps-product__vendor" href="#">Go Pro</a>
                                    <div class="ps-product__content">
                                        <a class="ps-product__title" href="product-default.html">Letter Printed Cushion Cover Cotton</a>
                                        <div class="ps-product__rating">
                                            <select class="ps-rating" data-read-only="true">
                                                <option value="1">1</option>
                                                <option value="1">2</option>
                                                <option value="1">3</option>
                                                <option value="1">4</option>
                                                <option value="2">5</option>
                                            </select><span>01</span>
                                        </div>
                                        <p class="ps-product__price sale">$13.00 <del>$20.00 </del></p>
                                    </div>
                                    <div class="ps-product__content hover">
                                        <a class="ps-product__title" href="product-default.html">Letter Printed Cushion Cover Cotton</a>
                                        <p class="ps-product__price sale">$13.00 <del>$20.00 </del></p>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-product">
                                <div class="ps-product__thumbnail">
                                    <a href="product-default.html"><img src="~/Sandal/img/products/shop/recommended/5.jpg" alt="" /></a>
                                    <div class="ps-product__badge">-46%</div>
                                    <ul class="ps-product__actions">
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag2"></i></a></li>
                                        <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add to Whishlist"><i class="icon-heart"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="icon-chart-bars"></i></a></li>
                                    </ul>
                                </div>
                                <div class="ps-product__container">
                                    <a class="ps-product__vendor" href="#">Young Shop</a>
                                    <div class="ps-product__content">
                                        <a class="ps-product__title" href="product-default.html">Amcrest Security Camera in White Color</a>
                                        <div class="ps-product__rating">
                                            <select class="ps-rating" data-read-only="true">
                                                <option value="1">1</option>
                                                <option value="1">2</option>
                                                <option value="1">3</option>
                                                <option value="1">4</option>
                                                <option value="2">5</option>
                                            </select><span>01</span>
                                        </div>
                                        <p class="ps-product__price sale">$13.00 <del>$20.00 </del></p>
                                    </div>
                                    <div class="ps-product__content hover">
                                        <a class="ps-product__title" href="product-default.html">Amcrest Security Camera in White Color</a>
                                        <p class="ps-product__price sale">$13.00 <del>$20.00 </del></p>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-product">
                                <div class="ps-product__thumbnail">
                                    <a href="product-default.html"><img src="~/Sandal/img/products/shop/recommended/6.jpg" alt="" /></a>
                                    <div class="ps-product__badge">-28%</div>
                                    <ul class="ps-product__actions">
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag2"></i></a></li>
                                        <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add to Whishlist"><i class="icon-heart"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="icon-chart-bars"></i></a></li>
                                    </ul>
                                </div>
                                <div class="ps-product__container">
                                    <a class="ps-product__vendor" href="#">Young Shop</a>
                                    <div class="ps-product__content">
                                        <a class="ps-product__title" href="product-default.html">LG White Front Load Steam Washer</a>
                                        <div class="ps-product__rating">
                                            <select class="ps-rating" data-read-only="true">
                                                <option value="1">1</option>
                                                <option value="1">2</option>
                                                <option value="1">3</option>
                                                <option value="1">4</option>
                                                <option value="2">5</option>
                                            </select><span>01</span>
                                        </div>
                                        <p class="ps-product__price sale">$1025.00 <del>$1422.00 </del></p>
                                    </div>
                                    <div class="ps-product__content hover">
                                        <a class="ps-product__title" href="product-default.html">LG White Front Load Steam Washer</a>
                                        <p class="ps-product__price sale">$1025.00 <del>$1422.00 </del></p>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-product">
                                <div class="ps-product__thumbnail">
                                    <a href="product-default.html"><img src="~/Sandal/img/products/shop/recommended/7.jpg" alt="" /></a>
                                    <ul class="ps-product__actions">
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-bag2"></i></a></li>
                                        <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add to Whishlist"><i class="icon-heart"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="icon-chart-bars"></i></a></li>
                                    </ul>
                                </div>
                                <div class="ps-product__container">
                                    <a class="ps-product__vendor" href="#">Robert's Store</a>
                                    <div class="ps-product__content">
                                        <a class="ps-product__title" href="product-default.html">Samsung UHD TV 24inch</a>
                                        <div class="ps-product__rating">
                                            <select class="ps-rating" data-read-only="true">
                                                <option value="1">1</option>
                                                <option value="1">2</option>
                                                <option value="1">3</option>
                                                <option value="1">4</option>
                                                <option value="2">5</option>
                                            </select><span>01</span>
                                        </div>
                                        <p class="ps-product__price">$599.00</p>
                                    </div>
                                    <div class="ps-product__content hover">
                                        <a class="ps-product__title" href="product-default.html">Samsung UHD TV 24inch</a>
                                        <p class="ps-product__price">$599.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal" id="shop-filter-lastest" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="list-group"><a class="list-group-item list-group-item-action" href="#">Sort by</a><a class="list-group-item list-group-item-action" href="#">Sort by average rating</a><a class="list-group-item list-group-item-action" href="#">Sort by latest</a><a class="list-group-item list-group-item-action" href="#">Sort by price: low to high</a><a class="list-group-item list-group-item-action" href="#">Sort by price: high to low</a><a class="list-group-item list-group-item-action text-center" href="#" data-dismiss="modal"><strong>Close</strong></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section js {

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var productImages = document.querySelectorAll('.ps-product__thumbnail img');

            productImages.forEach(function (img) {
                // Resmin yüklenmesini bekleyelim
                img.addEventListener('load', function () {
                    var desiredSize = 200; // Sabit genişlik ve yükseklik belirle
                    img.style.objectFit = 'contain'; // Görüntünün tamamını sığdır (boşluklarla)
                    img.style.width = desiredSize + 'px'; // Sabit genişlik
                    img.style.height = desiredSize + 'px'; // Sabit yükseklik
                    img.style.backgroundColor = '#f5f5f5'; // İsteğe bağlı: Boşluk arka plan rengi
                });

                // Görsel zaten yüklendiyse
                if (img.complete) {
                    img.dispatchEvent(new Event('load'));
                }
            });
        });



    </script>

    <script>
        function LoadProducts() {
            var selectedreviews = [];
            var selectedcolors = [];

            $('input[name="review"]:checked').each(function () {
                selectedreviews.push($(this).val());
            });
            $('input[name="color"]:checked').each(function () {
                selectedcolors.push($(this).val());
            });

            let minPrice = $('.ps-slider__min').text();
            let maxPrice = $('.ps-slider__max').text();
            let orderBy = $('select[name="orderBy"]').val();
            console.log(selectedreviews, selectedcolors, minPrice, maxPrice, orderBy);

            const urlParams = new URLSearchParams(window.location.search);
            const categoryName = urlParams.get('categoryname');

            let filterUrl = '/Shop/ProductsByFilter'
            if (categoryName !== null) {
                filterUrl = '/Shop/ProductsByFilter?categoryname=' + categoryName;
            }

            $.ajax({
                url: filterUrl,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    Ratings: selectedreviews.map(Number),
                    Colors: selectedcolors,
                    MinPrice: minPrice,
                    MaxPrice: maxPrice,
                    orderBy: orderBy
                }),
                success: function (response) {
                    var productListHtml = '';
                    var productListColumnHtml = '';
                    $('#products-count').text(response.length);


                    response.forEach(function (product) {
                        productListHtml += `
                                                <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6">
                                                    <div class="ps-product">
                                                        <div class="ps-product__thumbnail">
                                                            <a href="/product/details/${product.id}">
                                                                <img src="/Sandal/img/products/shop/1.jpg" alt="${product.name}" />
                                                            </a>
                                                            <ul class="ps-product__actions">
                                                                <li><a href="/basket/addbasket/${product.id}" data-toggle="tooltip" data-placement="top" title="Səbətə at"><i class="icon-bag2"></i></a></li>
                                                                <li><a href="javascript:void(0)" class="quickview" data-id="${product.id}" data-placement="top" title="Sürətli bax" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                                                                <li><a href="/shop/addwishlist/${product.id}" data-toggle="tooltip" data-placement="top" title="${product.isInWishlist ? 'Sevimlilərdən çıxart' : 'Sevimlilərə artır'}"><i class="${product.isInWishlist ? 'fas fa-heart' : 'icon-heart'}"></i></a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="ps-product__container">
                                                            <a class="ps-product__vendor" href="#">${product.categoryName}</a>
                                                            <div class="ps-product__content">
                                                                <a class="ps-product__title" href="/product/details/${product.id}">${product.name}</a>
                                                                <p class="ps-product__price">₼${product.price}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>`;

                        productListColumnHtml += `
                                                        <div class="ps-product ps-product--wide">
                                                                        <div class="ps-product__thumbnail">
                                                                            <a href="product-default.html"><img src="/Sandal/img/products/shop/1.jpg" alt="" /></a>
                                                                        </div>
                                                                        <div class="ps-product__container">
                                                                            <div class="ps-product__content">
                                                                                        <a class="ps-product__title" href="product-default.html">${product.name}</a>
                                                                                <p class="ps-product__vendor">Sold by:<a href="#">ROBERT’S STORE</a></p>
                                                                                <ul class="ps-product__desc">
                                                                                    <li> Unrestrained and portable active stereo speaker</li>
                                                                                    <li> Free from the confines of wires and chords</li>
                                                                                    <li> 20 hours of portable capabilities</li>
                                                                                    <li> Double-ended Coil Cord with 3.5mm Stereo Plugs Included</li>
                                                                                    <li> 3/4″ Dome Tweeters: 2X and 4″ Woofer: 1X</li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="ps-product__shopping">
                                                                                                <p class="ps-product__price">₼${product.price}</p><a class="ps-btn" asp-action="addbasket" href="/shop/addwishlist/${product.id}">Səbətə at</a>
                                                                                <ul class="ps-product__actions">
                                                                                                                    <li><a href="/shop/addwishlist/${product.id}"><i class="${product.IsInWishlist ? "fas fa-heart" : "icon-heart"} "></i>${product.IsInWishlist ? "Sevimlilərdən çıxart" : "Sevimlilərə artır"}</a></li >
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>`
                    });

                    $('#product-list-row').html(productListHtml);
                    $('#product-list-column').html(productListColumnHtml);
                },
                error: function (error) {
                    console.error('Hata oluştu:', error);
                }
            });
        }
    </script>

    <script>
        $(document).ready(function () {
            $(document).on('click', '.quickview', function () {
                var productId = $(this).data('id');

                $.ajax({
                    url: '@Url.Action("GetProductDetails", "Shop")',
                    type: 'GET',
                    data: { id: productId },
                    success: function (data) {
                        $('#product-quickview .ps-product__thumbnail img').attr('src', data.imageUrl);
                        $('#product-quickview h1').text(data.name);
                        $('#product-quickview .ps-product__price').text('₼' + data.price);
                        $('#product-quickview a.ps-category-name').text(data.categoryName).attr('href', data.brandUrl);
                        $('#product-quickview p.description').text(data.description);
                        $('#product-quickview .ps-product__desc ul').html('');
                        data.features.forEach(function (feature) {
                            $('#product-quickview .ps-product__desc ul').append('<li>' + feature + '</li>');
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
}